<div class="main-container">

	<h2>Smart Health Checkup</h2>
	<div class="blood-group-container">
		<span>Blood Group : B+ve</span>
		<a class="looklike-link" (click)="showImage()">Click Here to check Risk</a>
	</div>
	<table>
		<tr>
			<th>Name</th>
			<td>Normal</td>
			<td>Actual</td>
		</tr>
		<tr>
			<th>Platelets</th>
			<td>150,000-400,000/mm3</td>
			<td>300,000/mm3</td>
		</tr>
		<tr>
			<th>WBC</th>
			<td>4.3-5.9 million/mm3</td>
			<td>5 million/mm3</td>
		</tr>
		<tr>
			<th>RBC</th>
			<td>4500-11,000/mm3</td>
			<td>9000/mm3</td>
		</tr>
		<tr>
			<th>Glucose Level</th>
			<td>
				< 120mg </td>
			<td>300mg</td>
		</tr>
		<tr>
			<th>HCT%</th>
			<td>32.6 - 47.5</td>
			<td>44.5</td>
		</tr>
		<tr>
			<th>MCHC %</th>
			<td>31.8 - 36.3</td>
			<td>32.6</td>
		</tr>
		<tr>
			<th>LYMPHO%</th>
			<td>15.0 - 45.3</td>
			<td>25</td>
		</tr>
		<tr>
			<th>RDW</th>
			<td>11.6 - 14.6</td>
			<td>12.6</td>
		</tr>
		<tr>
			<th>MCHC -FL</th>
			<td>11.6 - 14.6</td>
			<td>12.6</td>
		</tr>
		<tr>
			<th>MCHC pg</th>
			<td>11.6 - 14.6</td>
			<td>12.6</td>
		</tr>
	</table>
	<span style="font-size: 12px;">
		Based on your health records, you are eligible for a cover of 12Lakhs with a monthly<br>premium of 1560. To buy it <a href="https://www.policybazaar.com/" target="_blank">click here</a>..
	</span>

</div>
