mat-toolbar {
	display: flex;
	position: sticky;
	position: -webkit-sticky; /* For macOS/iOS Safari */
	top: 0; /* Sets the sticky toolbar to be on top */
	z-index: 1000;
	justify-content: space-between;
	align-items: flex-start;
	.location-component {
		margin-top: 10px;
		margin-left: 30px;
		width: 100px;
		.location-input {
			width: 80px;
		}
	}
	.login-more-container {
		margin-top: 10px;
		display: flex;
		align-items: center;
		gap: 10px;
	}
}
.header-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	.left-container {
		.buttons-container {
			margin-top: 100px;
			button {
				margin: 0 10px;
				font-size: 25px;
				height: 60px;
				margin-bottom: 15px;
			}
		}
	}
}
.treatment-container {
	width: 50%;
	margin: 50px auto;
	form {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
		mat-form-field {
			width: 90%;
			font-size: 12px;
		}
		button {
			margin-bottom: 15px;
		}
	}
}
.card-container {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	gap: 100px;
	mat-card {
		text-align: center;
		width: 200px;
		height: 150px;
	}
}
.bottom-image-container {
	display: flex;
	justify-content: space-around;
	img {
		width: 480px;
	}
}
.top-deseases-container {
	padding: 10px;
	h3 {
		opacity: 0.5;
		margin-bottom: 0;
	}
}
.top-10-hospitals-container {
	margin: 20px 30px 0;
	margin-top: 0px;
	padding: 10px;
	mat-card-header {
		justify-content: center;
	}
	mat-card-content div {
		margin: 0 100px;
		display: flex;
		justify-content: space-between;
		ul {
			list-style-type: none;
		}
		li {
			margin: 5px 0;
			a {
				color: #3f51b5;
				text-decoration: underline;
			}
		}
	}
}
::ng-deep app-home .mat-form-field-outline {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	.mat-form-field-outline-start,
	.mat-form-field-outline-end {
		border-radius: 0 !important;
	}
}
