<mat-toolbar>
	<div class="logo-location-container">
		<img src="assets/images/medconfer.png" width="140px" height="100px" class="logo">
	</div>
	<div class="location-component">
		<button mat-icon-button color="primary" class="location-button" (click)="cityEditable=true;"
			*ngIf="!cityEditable">
			<mat-icon style="color:#e10000">place</mat-icon>{{city}}
		</button>
		<input class="location-input" [(ngModel)]="city" (blur)="cityEditable=!!!city;setCity()" *ngIf="cityEditable">
	</div>
	<div class="login-more-container">
		<button mat-raised-button color="primary">Log In</button>
		<mat-icon>more_vert</mat-icon>
	</div>
</mat-toolbar>
<div class="header-container">
	<div class="left-container">
		<h1>Simplifying <span style="color:#1820DC">healthcare</span> for your family</h1>
		<h3>Best treatment option from 2000+ doctors
			of 150+ hospitals</h3>
		<div class="buttons-container">
			<button mat-raised-button color="primary">Know More</button>
			<button mat-raised-button color="primary" (click)="showImage('assets/images/help-image.png')">Help</button>
		</div>
	</div>
	<div class="right-container">
		<img src="assets/images/doctor-patient.jpeg" height="250px">
	</div>
</div>
<div class="treatment-container">
	<form>
		<mat-form-field appearance="outline">
			<mat-label>Treatment For</mat-label>
			<input type="text" matInput [formControl]="selectedTreatment" [matAutocomplete]="auto">
			<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
				<mat-option *ngFor="let option of filteredTreatments | async" [value]="option">
					{{option.treatementName}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
		<button mat-raised-button type="button" color="primary" (click)="gotoHospitals()">Search</button>
	</form>
</div>
<div class="card-container">
	<mat-card class="cursor-pointer" (click)="showSmartInsurancePopup()">
		<img src="assets/images/smart-insurance-policy.png" width="156px" height="130px">
		<mat-card-content>
			<h4>Smart insurance policy</h4>
		</mat-card-content>
	</mat-card>
	<mat-card class="cursor-pointer" (click)="showImage('assets/images/smart-pharmacy-details.png')">
		<img src="assets/images/smart-pharmacy.png" width="156px" height="130px">
		<mat-card-content>
			<h4>Smart Pharmacy</h4>
		</mat-card-content>
	</mat-card>
	<mat-card class="cursor-pointer" (click)="showSmartHealthPopup()">
		<img src="assets/images/smart-health-checkup.jpeg" width="156px" height="130px">
		<mat-card-content>
			<h4>Smart Health Check-up</h4>
		</mat-card-content>
	</mat-card>
</div>
<img src="assets/images/bottom-3.png" style="width: 100%;margin:10px 0;">
<div class="bottom-image-container">
	<img src="assets/images/bottom-1-img.jpg">
	<img src="assets/images/bottom-2-img.jpg">
</div>
<div class="top-10-hospitals-container">
	<mat-card>
		<mat-card-header>
			<h5>TOP 10 Hospitals in {{city}}</h5>
		</mat-card-header>
		<mat-card-content>
			<div>
				<ul>
					<li>1. <a>Fortis Hospital, Banergatta Road</a></li>
					<li>2. <a>Manipal Hospital, HAL Airport Road</a></li>
					<li>3. <a>Columbia Asia Referral Hospital, Yeshwanthpur</a></li>
					<li>4. <a>Aster CMI, Hebbal</a></li>
					<li>5. <a>Apollo Hospital, Jayanagar</a></li>
				</ul>
				<ul>
					<li>6. <a>Fortis Hospital, Cunningham Road</a></li>
					<li>7. <a>Columbia Asia, Whitefield</a></li>
					<li>8. <a>Manipal Hospital, Whitefield</a></li>
					<li>9. <a>Hosmat Hospital, Magrath Road</a></li>
					<li>10. <a>Columbia Asia, Hebbal</a></li>
				</ul>
			</div>
		</mat-card-content>
	</mat-card>
</div>
